@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&family=Russo+One&family=Sanchez:ital@0;1&display=swap');
p{
    font-family:"Raleway", sans-serif;
    font-size:14pt;
    padding-left: 200px;
    padding-right: 200px;
    line-height:1.6;
}
h2{ 
    font-family:"Russo One", sans-serif;
    font-size:22pt;
    text-align:center;
}
h3{
    font-family:"Russo One", sans-serif;
    font-size:18pt;
    margin-left:200px;
    margin-top:200px;
}
.solid {
        width: 100vw;
        height: 10vh;
        background-color:lightsalmon;
    }
.nav{
    padding-top:15px;
    padding:10px;
}
h1{
    font-family:"Sanchez", sans-serif;
    font-size: 32pt;
    padding-right:200px;
    padding-left:200px;
}
.raleway{
    font-family:"raleway", sans-serif;
    font-weight:300;
}
.subtitle{
    font-family:"Sanchez", sans-serif;
    font-style:italic;
    font-weight:200;
    padding-left:200px;
    padding-right:600px;
    font-size:20pt;
    }
.line {
        border-top: 3px;
        color: navy;
}    
.quotes{
    background-color:lightgray;
    width:100vw;
    height:40vh;
    font-family:"Sanchez", sans-serif;
    font-size:16pt;
    font-style:italic;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bold{
    font-family:"raleway", sans-serif;
    font-weight:600;
}
.infos{
    margin-right:5vw;
    text-align:right;
}
.agen{
    background-color:midnightblue;
    width:100vw;
    height:20vh;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agenn{
    background-color:lightsalmon;
    width:100vw;
    height:20vh;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agennn{
    background-color:steelblue;
    width:100vw;
    height:20vh;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agennnn{
    background-color:darkslategray;
    width:100vw;
    height:20vh;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.concluagen{
    background-color:gainsboro;
    width:100vw;
    height:20vh;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1{
    background-image:url("../spread/grid.png");
    background-size:50%;
}
.sectionone{
    padding-left:100px;
    padding-bottom:175px;
}
.thebar{
    background-color:midnightblue;
    width: 350px;
    height: 15px;
    margin-bottom:0px;
}
.sec2{
    background-color:gainsboro;
    width:100vw;
    height:130vh;
    align-items: center;
    justify-content: center;
}
.stwotitle{
    padding-top:20px;
}
.thebarr{
    background-color:lightsalmon;
    width: 350px;
    height: 15px;
    margin-bottom:0px;
}
