@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&family=Russo+One&family=Sanchez:ital@0;1&display=swap');

:root {
    --body-copy: 16px;
    --page-spacing: 24px;
    --spacing-unit:6px
    --main-heading: calc(var(--body-copy)*2.5)
    --sub-heading: calc(var(--body-copy)*1.5)
    --title-top: calc(var(--body-copy)*1.7)
  
}

@media (min-width: 768px) {
    :root {
    --body-copy: 24px;
    -page-spacing: 48px;
    
}
}

p{
    font-family:"Raleway", sans-serif;
    padding: var(--page-spacing);
    line-height:var(--page-spacing);
}

@media (min-width: 768px) {
    p {
        padding-left: calc(var(--page-spacing)*11); 
        padding-right: calc(var(--page-spacing)*11);
        font-size: 20px;
        line-height:calc(var(--page-spacing)*1.5);
    }
}

h1{
    font-family:"Sanchez", sans-serif;
    font-size: calc(var(--body-copy)*2.5);
    padding-left: calc(var(--body-copy)*2);
    line-height:calc(var(--page-spacing)*2.1);
    
}

@media (min-width: 768px) {
    h1{
        padding-left: calc(var(--body-copy)*6);
        line-height:calc(var(--page-spacing)*3.5);  
    }
}

h2{
    font-family:"Russo One", sans-serif;
    text-align: center;
    font-size: calc(var(--body-copy)*1.5);
}

h3{
    font-family:"Russo One", sans-serif;
    font-size: calc(var(--body-copy)*1.7);
    
}

.solid {
background-color:lightsalmon;
height: 50px;
padding-bottom: 20px;
}


.raleway {
    font-family:"raleway", sans-serif;
    font-weight:300;
    text-indent: 10%;
}

header {
display: flex;
flex-direction: column;
row-gap: calc(var(--page-spacing)*2);
}



.subtitle {
    font-family:"Sanchez", sans-serif;
    font-style:italic;
    font-size:calc(var(--body-copy)*1) ;
    padding-left:calc(var(--body-copy)*1);
    padding-right:calc(var(--body-copy)*1);
}

@media (min-width: 768px) {
    .subtitle{
        padding-left:calc(var(--body-copy)*6);   
    }
}


@media (min-width: 768px) {
    .nav{
        margin-left:-15vh;   
    }
}

.quotes{
    background-color:#F7EBE9;

    height:40vh;
    font-family:"Sanchez", sans-serif;
    font-size:calc(var(--body-copy)*0.9);
    font-style:italic;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--page-spacing);
}

@media (min-width: 768px) {
    .quotes{
    line-height:calc(var(--page-spacing)*1.5);  
    }
}

.bold{
    font-family:"raleway", sans-serif;
    font-weight:600;
}

.infos{
    margin-right:5vw;
    text-align:right;
    
}

.author{
    font-size: calc(var(--body-copy)*1.5);
    font-family:"Raleway", sans-serif;
}

.agen{
    background-color:midnightblue;

    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% ;
    height: calc(var(--body-copy)*6);
    
}

.agenn{
    background-color:lightsalmon;
    width: 100% ;
    height: calc(var(--body-copy)*6) ;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -31px;
}
.agenn:hover{
    color:gainsboro;
    background-color:darkslategray;
}

.agen:hover{
    color:lightsalmon;
    background-color:gainsboro;
}

.agennn{
    background-color:steelblue;
    width: 100% ;
    height: calc(var(--body-copy)*6);
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -31px;
}
.agennn:hover{
    color:midnightblue;
    background-color:aliceblue;
}

.agennnn{
    background-color:darkslategray;
    width: 100% ;
    height: calc(var(--body-copy)*6) ;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -31px;
}
.agennnn:hover{
    color:lightsalmon;
    background-color:lightblue;
}

.concluagen{
    background-color:gainsboro;
    width: 100% ;
    height: calc(var(--body-copy)*6) ;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -31px;
}
.concluagen:hover{
    color:lightblue;
    background-color:navy;
}

.sec1{
   
    background-size:50%;
}

.sectionone{
    padding-left:calc(var(--body-copy)*1);
    padding-bottom:calc(var(--body-copy)*2);
    margin-top: calc(var(--body-copy)*5) ;
}

.thebar{
    background-color:midnightblue;
    width: 360px;
    height: 15px;
    margin-bottom:0px;
}

.sec2{
    background-color:gainsboro;
    
    align-items: center;
    justify-content: center;
}

.stwotitle{
    padding-top:20px;
}
.thebarr{
    background-color:lightsalmon;
    width: 350px;
    height: 15px;
    margin-bottom:0px;
}

.sec3 {
    background-color: lightyellow;
    }
    
    .abovemt{
    padding-top: 20px;
    }
    
    .barm{
    background-color: steelblue;
    width: 350px;
    height:15px;
    margin-bottom:0px;
    }

    .sec4 {
        background-color: black;
        }
        
        .abovect{
        padding-top: 20px;
        }

        @media (min-width: 768px) {
            .abovect{
                padding-top: 32px;
            }
        }
        
        .barc{
        background-color: darkslategray;
        width: 350px;
        height:15px;
        margin-bottom:0px;
        }

    .sec5 {
            background-color: gainsboro;
            }
            
            .aboveco{
            padding-top: 20px;
            padding-bottom: 40px;
            }
            
            .barco{
            background-color: white;
            width: 350px;
            height:15px;
            margin-bottom:0px;
            }

            .indentae{
                text-indent: 15%;
            }

            .conclusion1{
                font-family:"Sanchez", sans-serif;
                font-size: calc(var(--body-copy)*1);
                line-height:calc(var(--page-spacing)*1.5);
            }

            @media (min-width: 768px) {
                .conclusion1{
                    font-size: calc(var(--body-copy)*1.3);
                line-height:calc(var(--page-spacing)*1.8);
                }
            }
a{ color: inherit;}

@media print {
    header{
        border-top:1px solid black;
    }
    .quotes{
        height:0vh;
    }
    .infos{
        padding-bottom:10vh;
    }
    .thebar{
        padding-left:40px;
    }
    .thebarr{
        padding-left:40px;
    }
    .barm{
        padding-left:40px;
    }
    .barc{
        padding-left:40px;
    }
    .barco{
        padding-left:40px;
    }
    .agen{
        border-top:1px solid black;
    }
    .stwotitle{
        border-top:1px solid black;
    }
    .infos{
        border-bottom:1px solid black;
        margin-bottom:-5vh;
    }
    .sec3{
        border-top:1px solid black;
    }
    .sec4{
        border-top:1px solid black;
    }
    .sec5{
        border-top:1px solid black;
    }
   a{
    all: unset;
    color: inherit;
   }
}
